In [47]:
import matplotlib.pyplot as plt
%matplotlib inline
import random as random
import numpy as np
import pandas as pd

In [48]:
#v = pd.read_csv('vegascsv.csv')

df1 = pd.read_csv('australia.csv')
df2 = pd.read_csv('izrael.csv')
df3 = pd.read_csv('japonia.csv')
df4 = pd.read_csv('niemcy.csv')
df5 = pd.read_csv('usa.csv')

In [2]:
#df1['DATE'], df1['TIME'] = df1['mStart'].str.split(' ', 1).str
#df1['DAY'], df1['MONTH'] = df1['DATE'].str.split('.', 1).str

#df1['YEAR'] = df1['MONTH'].str.split('.').str[1]
#df1['MONTH'] = df1['MONTH'].str.split('.').str[0]
#df1['HOUR'] = df1['TIME'].str.split(':').str[0]
#df1['COUNTRY']=1
#df1[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR']]



#df12 = df1.groupby('DATE')['MOR'].mean()
#df13 = df1.groupby('DATE')['MOR'].median()
#df14 = df1.groupby('DATE')['MOR'].std()


#df12.columns = ['MEAN']
#df13.columns = ['MEDIAN']
#df14.columns = ['STD']

#pd.concat(dict(MEAN = df12, MEDIAN = df13, STD = df14),axis=1)#.to_csv('japonia_day.csv')

In [3]:

#df['DATE'], df['TIME'] = df['mStart'].str.split(' ', 1).str

#df['DAY'], df['MONTH'] = df['DATE'].str.split('.', 1).str

#df[['DATE', 'TIME', 'MOR', 'MONTH']]

#df2 = df.groupby('MONTH')['MOR'].mean()
#df3 = df.groupby('MONTH')['MOR'].median()
#df4 = df.groupby('MONTH')['MOR'].std()


#df2.columns = ['MEAN']
#df3.columns = ['MEDIAN']
#df4.columns = ['STD']

#pd.concat(dict(MEAN = df2, MEDIAN = df3, STD = df4),axis=1).to_csv('nazwa_month.csv')

In [51]:
df1['DATE'], df1['TIME'] = df1['mStart'].str.split(' ', 1).str
df1['DAY'], df1['MONTH'] = df1['DATE'].str.split('.', 1).str

df1['YEAR'] = df1['MONTH'].str.split('.').str[1]
df1['MONTH'] = df1['MONTH'].str.split('.').str[0]
df1['HOUR'] = df1['TIME'].str.split(':').str[0]
df1['MIN'] = df1['TIME'].str.split(':').str[1]
df1['COUNTRY']=1
df1[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']]

      COUNTRY HOUR DAY MONTH  YEAR      MOR     LAST
0           1   00  29    10  2008  1511082  1131517
1           1   01  29    10  2008  1520726  1139927
2           1   01  29    10  2008  1517191  1137984
3           1   02  29    10  2008  1515324  1132833
4           1   02  29    10  2008  1514437  1133126
5           1   03  29    10  2008  1523084  1143340
6           1   03  29    10  2008  1517774  1138203
7           1   04  29    10  2008  1510992  1132591
8           1   04  29    10  2008  1512010  1133051
9           1   05  29    10  2008  1509593  1131421
10          1   05  29    10  2008  1510222  1131929
11          1   06  29    10  2008  1516162  1135745
12          1   06  29    10  2008  1511187  1131823
13          1   07  29    10  2008  1509993  1131317
14          1   07  29    10  2008  1509198  1131161
15          1   08  29    10  2008  1510929  1132664
16          1   08  29    10  2008  1510302  1131954
17          1   09  29    10  2008  1510623  1132049
18          1   09  29    10  2008  1511009  1131268
19          1   10  29    10  2008  1512760  1134964
20          1   10  29    10  2008  1509349  1130831
21          1   11  29    10  2008  1509790  1131626
22          1   11  29    10  2008  1509225  1130932
23          1   12  29    10  2008  1743014  1130550
24          1   12  29    10  2008  1510575  1131491
25          1   13  29    10  2008  1324257   945930
26          1   13  29    10  2008  1327126   948537
27          1   14  29    10  2008  1508581  1130328
28          1   14  29    10  2008  1508556  1130112
29          1   15  29    10  2008  1324404   946457
...       ...  ...  ..   ...   ...      ...      ...
7183        1   07  05    07  2009  1527228  1144520
7184        1   09  05    07  2009  1530060  1147505
7185        1   09  05    07  2009  1530323  1145934
7186        1   10  05    07  2009  1530777  1147880
7187        1   11  05    07  2009  1527053  1144551
7188        1   11  05    07  2009  1527122  1144722
7189        1   13  05    07  2009  1341930   957934
7190        1   13  05    07  2009  1527927  1145420
7191        1   14  05    07  2009  1529319  1146489
7192        1   15  05    07  2009  1534669  1151067
7193        1   16  05    07  2009  1947195  1146450
7194        1   17  05    07  2009  1527482  1144438
7195        1   18  05    07  2009  1528217  1145584
7196        1   18  05    07  2009  1527299  1144551
7197        1   20  05    07  2009  1532221  1149446
7198        1   20  05    07  2009  1526942  1144296
7199        1   21  05    07  2009  1527469  1144712
7200        1   22  05    07  2009  1528408  1145740
7201        1   23  05    07  2009  1528090  1145624
7202        1   23  05    07  2009  1528340  1145891
7203        1   00  06    07  2009  1531309  1148058
7204        1   01  06    07  2009  1532202  1149249
7205        1   01  06    07  2009  1529781  1146906
7206        1   03  06    07  2009  1527572  1144820
7207        1   03  06    07  2009  4410910  1145921
7208        1   04  06    07  2009  2203190   957636
7209        1   05  06    07  2009  2791931  1146176
7210        1   06  06    07  2009  1531746  1149032
7211        1   07  06    07  2009  1529439  1146361
7212        1   08  06    07  2009  1529001  1146104

[7213 rows x 7 columns]

In [52]:
df2['DATE'], df2['TIME'] = df2['mStart'].str.split(' ', 1).str
df2['DAY'], df2['MONTH'] = df2['DATE'].str.split('.', 1).str

df2['YEAR'] = df2['MONTH'].str.split('.').str[1]
df2['MONTH'] = df2['MONTH'].str.split('.').str[0]
df2['HOUR'] = df2['TIME'].str.split(':').str[0]
df2['MIN'] = df2['TIME'].str.split(':').str[1]
df2['COUNTRY']=2
df2[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']]

       COUNTRY HOUR DAY MONTH  YEAR      MOR     LAST
0            2   00  29    10  2008  2774988  1501388
1            2   00  29    10  2008  2016866  1503679
2            2   01  29    10  2008  2047526  1504890
3            2   01  29    10  2008  2038797  1501829
4            2   02  29    10  2008  2015799  1503803
5            2   02  29    10  2008  2018313  1503564
6            2   03  29    10  2008  2287727  1503352
7            2   03  29    10  2008  2017729  1503816
8            2   04  29    10  2008  2155918  1503373
9            2   04  29    10  2008  2014411  1503360
10           2   05  29    10  2008  2061565  1503661
11           2   05  29    10  2008  2038173  1503519
12           2   06  29    10  2008  2013619  1503193
13           2   06  29    10  2008  2013105  1502602
14           2   07  29    10  2008  2012349  1501889
15           2   07  29    10  2008  2015422  1503430
16           2   08  29    10  2008  2078431  1501531
17           2   08  29    10  2008  2013332  1502459
18           2   09  29    10  2008  2046859  1501616
19           2   09  29    10  2008  2088826  1503866
20           2   10  29    10  2008  2040669  1503658
21           2   10  29    10  2008  2043214  1504222
22           2   11  29    10  2008  2050553  1503799
23           2   11  29    10  2008  2031835  1503471
24           2   12  29    10  2008  2030146  1503567
25           2   12  29    10  2008  2027339  1504067
26           2   13  29    10  2008  2019694  1504072
27           2   13  29    10  2008  2038489  1501940
28           2   14  29    10  2008  2025663  1503548
29           2   14  29    10  2008  2207562  1504030
...        ...  ...  ..   ...   ...      ...      ...
10307        2   17  05    07  2009  2049031  1508888
10308        2   18  05    07  2009  2050176  1507851
10309        2   18  05    07  2009  2296217  1508938
10310        2   19  05    07  2009  2043686  1509533
10311        2   19  05    07  2009  2022946  1509587
10312        2   20  05    07  2009  2051307  1517849
10313        2   20  05    07  2009  2065094  1515029
10314        2   21  05    07  2009  2049355  1508653
10315        2   21  05    07  2009  2054514  1507249
10316        2   22  05    07  2009  2553578  1508318
10317        2   22  05    07  2009  2020277  1508869
10318        2   23  05    07  2009  2557743  1508508
10319        2   23  05    07  2009  2116735  1509388
10320        2   00  06    07  2009  2084232  1509384
10321        2   00  06    07  2009  2038635  1508339
10322        2   01  06    07  2009  2040854  1507805
10323        2   01  06    07  2009  2549483  1507863
10324        2   02  06    07  2009  1777912  1264980
10325        2   02  06    07  2009  2021252  1508667
10326        2   03  06    07  2009  2052341  1508448
10327        2   03  06    07  2009  3647575  1510154
10328        2   04  06    07  2009  3920818  1508387
10329        2   04  06    07  2009  4612732  1508544
10330        2   05  06    07  2009  2769945  1508333
10331        2   05  06    07  2009  4747711  1507238
10332        2   06  06    07  2009  2112974  1507738
10333        2   06  06    07  2009  2091036  1507453
10334        2   07  06    07  2009  2114820  1511722
10335        2   07  06    07  2009  2130704  1508398
10336        2   08  06    07  2009  2369854  1506952

[10337 rows x 7 columns]

In [53]:
df3['DATE'], df3['TIME'] = df3['mStart'].str.split(' ', 1).str
df3['DAY'], df3['MONTH'] = df3['DATE'].str.split('.', 1).str

df3['YEAR'] = df3['MONTH'].str.split('.').str[1]
df3['MONTH'] = df3['MONTH'].str.split('.').str[0]
df3['HOUR'] = df3['TIME'].str.split(':').str[0]
df3['COUNTRY']=3
df3['MIN'] = df3['TIME'].str.split(':').str[1]
df3[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']]

       COUNTRY HOUR DAY MONTH  YEAR       MOR     LAST
0            3   00  29    10  2008  11499073   763335
1            3   00  29    10  2008   1196793   761671
2            3   01  29    10  2008   1199030   765135
3            3   01  29    10  2008   1250017   781200
4            3   02  29    10  2008   1276172   765964
5            3   02  29    10  2008   1580663  1140065
6            3   03  29    10  2008   1203884   763055
7            3   03  29    10  2008   1202932   769601
8            3   04  29    10  2008   3257173  2385096
9            3   04  29    10  2008   1735283  1399749
10           3   05  29    10  2008   1073296   773909
11           3   05  29    10  2008   1189234   880846
12           3   06  29    10  2008   1080908   770826
13           3   06  29    10  2008   1204505   891353
14           3   07  29    10  2008   1951395  1646090
15           3   07  29    10  2008   1079213   763203
16           3   08  29    10  2008   6206016   777224
17           3   08  29    10  2008   1079732   769043
18           3   09  29    10  2008   1073258   764095
19           3   09  29    10  2008   1072345   762106
20           3   10  29    10  2008   1071643   756361
21           3   10  29    10  2008   1070142   760385
22           3   11  29    10  2008   1066026   762405
23           3   11  29    10  2008   1087617   769165
24           3   12  29    10  2008   1054361   759428
25           3   12  29    10  2008   1095268   774464
26           3   13  29    10  2008   1067120   761195
27           3   13  29    10  2008   1077067   764181
28           3   14  29    10  2008   1069578   761241
29           3   14  29    10  2008   1084609   766784
...        ...  ...  ..   ...   ...       ...      ...
10215        3   17  05    07  2009   1220631   768708
10216        3   18  05    07  2009   1203548   761157
10217        3   18  05    07  2009   1215287   763213
10218        3   19  05    07  2009   1239892   778163
10219        3   19  05    07  2009   1201357   759344
10220        3   20  05    07  2009   1202342   759960
10221        3   20  05    07  2009   1346015   759252
10222        3   21  05    07  2009   1202713   761443
10223        3   21  05    07  2009   1202568   760305
10224        3   22  05    07  2009   1223262   764137
10225        3   22  05    07  2009   1204774   761802
10226        3   23  05    07  2009   1324788   759794
10227        3   23  05    07  2009   1218060   763246
10228        3   00  06    07  2009   1212308   762392
10229        3   00  06    07  2009   1204228   761707
10230        3   01  06    07  2009   1208702   762482
10231        3   01  06    07  2009   1321527   877575
10232        3   02  06    07  2009   1222594   764823
10233        3   02  06    07  2009   1228953   771277
10234        3   03  06    07  2009   1224891   769048
10235        3   03  06    07  2009   1213718   772448
10236        3   04  06    07  2009   3340106   778901
10237        3   04  06    07  2009   3460265  1650103
10238        3   05  06    07  2009   4009728   788028
10239        3   05  06    07  2009   3028578  2090836
10240        3   06  06    07  2009   1238681   773500
10241        3   06  06    07  2009   1743590  1283665
10242        3   07  06    07  2009   2722846  2266814
10243        3   07  06    07  2009   1249815   796058
10244        3   08  06    07  2009   1220972   766064

[10245 rows x 7 columns]

In [54]:
df4['DATE'], df4['TIME'] = df4['mStart'].str.split(' ', 1).str
df4['DAY'], df4['MONTH'] = df4['DATE'].str.split('.', 1).str

df4['YEAR'] = df4['MONTH'].str.split('.').str[1]
df4['MONTH'] = df4['MONTH'].str.split('.').str[0]
df4['HOUR'] = df4['TIME'].str.split(':').str[0]
df4['COUNTRY']=4
df4['MIN'] = df4['TIME'].str.split(':').str[1]
df4[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']]

       COUNTRY HOUR DAY MONTH  YEAR      MOR     LAST
0            4   00  29    10  2008  1665250  1237636
1            4   01  29    10  2008  1651332  1236871
2            4   01  29    10  2008  1676860  1237705
3            4   02  29    10  2008  1653133  1238244
4            4   02  29    10  2008  1666564  1237296
5            4   03  29    10  2008  1868657  1237823
6            4   03  29    10  2008  1652769  1238017
7            4   04  29    10  2008  1649917  1236422
8            4   04  29    10  2008  1652131  1237715
9            4   05  29    10  2008  1650375  1237052
10           4   05  29    10  2008  1650680  1237364
11           4   06  29    10  2008  1650484  1237284
12           4   06  29    10  2008  1650618  1237488
13           4   07  29    10  2008  1786637  1237008
14           4   07  29    10  2008  1674918  1238551
15           4   08  29    10  2008  1651475  1237851
16           4   08  29    10  2008  1650854  1237206
17           4   09  29    10  2008  1652092  1238554
18           4   09  29    10  2008  1650763  1237443
19           4   10  29    10  2008  1659804  1237703
20           4   10  29    10  2008  1652116  1237142
21           4   11  29    10  2008  1682837  1238239
22           4   11  29    10  2008  1651841  1237515
23           4   12  29    10  2008  1652611  1237512
24           4   12  29    10  2008  1650813  1236770
25           4   13  29    10  2008  1654579  1240122
26           4   13  29    10  2008  1652576  1238036
27           4   14  29    10  2008  1654213  1238033
28           4   14  29    10  2008  1651192  1236985
29           4   15  29    10  2008  1651768  1237472
...        ...  ...  ..   ...   ...      ...      ...
10359        4   17  05    07  2009  1656198  1046741
10360        4   18  05    07  2009  1825832  1219498
10361        4   18  05    07  2009  1656545  1050394
10362        4   19  05    07  2009  1824339  1215380
10363        4   19  05    07  2009  1622512  1017031
10364        4   20  05    07  2009  1828898  1219498
10365        4   20  05    07  2009  1656076  1048198
10366        4   21  05    07  2009  1856150  1051321
10367        4   21  05    07  2009  1829023  1220330
10368        4   22  05    07  2009  1855554  1050659
10369        4   22  05    07  2009  1685824  1053310
10370        4   23  05    07  2009  1692870  1051645
10371        4   23  05    07  2009  1854449  1219408
10372        4   00  06    07  2009  1736322  1053034
10373        4   00  06    07  2009  1845780  1219377
10374        4   01  06    07  2009  1852466  1219367
10375        4   01  06    07  2009  1683595  1017334
10376        4   02  06    07  2009  1666124  1046619
10377        4   02  06    07  2009  1659838  1049479
10378        4   03  06    07  2009  1656283  1050168
10379        4   03  06    07  2009  2998828  1218484
10380        4   04  06    07  2009  3293542  1216231
10381        4   04  06    07  2009  3240082  1215203
10382        4   05  06    07  2009  1824646  1214745
10383        4   05  06    07  2009  3961490  1215401
10384        4   06  06    07  2009  1624386  1016772
10385        4   06  06    07  2009  1972655  1216108
10386        4   07  06    07  2009  1622889  1016911
10387        4   07  06    07  2009  1655733  1049761
10388        4   08  06    07  2009  1625178  1016517

[10389 rows x 7 columns]

In [55]:
df5['DATE'], df5['TIME'] = df5['mStart'].str.split(' ', 1).str
df5['DAY'], df5['MONTH'] = df5['DATE'].str.split('.', 1).str

df5['YEAR'] = df5['MONTH'].str.split('.').str[1]
df5['MONTH'] = df5['MONTH'].str.split('.').str[0]
df5['HOUR'] = df5['TIME'].str.split(':').str[0]
df5['COUNTRY']=5
df5['MIN'] = df5['TIME'].str.split(':').str[1]
df5[['COUNTRY', 'HOUR', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']]

      COUNTRY HOUR DAY MONTH  YEAR      MOR    LAST
0           5   00  29    10  2008   256557  166580
1           5   00  29    10  2008   269193  166895
2           5   01  29    10  2008   268689  166860
3           5   01  29    10  2008   254743  166853
4           5   02  29    10  2008   273042  166545
5           5   02  29    10  2008   272090  166778
6           5   03  29    10  2008   290049  166334
7           5   03  29    10  2008   259165  166667
8           5   04  29    10  2008   255401  166419
9           5   04  29    10  2008   326536  166704
10          5   05  29    10  2008   251934  166539
11          5   05  29    10  2008   277898  166778
12          5   06  29    10  2008   256231  166821
13          5   06  29    10  2008   295177  166618
14          5   07  29    10  2008   272478  166618
15          5   07  29    10  2008   274613  166955
16          5   08  29    10  2008   397968  166579
17          5   08  29    10  2008   289136  166755
18          5   09  29    10  2008   277655  166752
19          5   09  29    10  2008   260631  166311
20          5   10  29    10  2008   272410  166420
21          5   10  29    10  2008   257779  166751
22          5   11  29    10  2008   249895  166627
23          5   11  29    10  2008   252126  166369
24          5   12  29    10  2008   253208  166224
25          5   12  29    10  2008   253329  166468
26          5   13  29    10  2008   252318  166677
27          5   13  29    10  2008   263311  166605
28          5   14  29    10  2008   252377  166443
29          5   14  29    10  2008   258330  166765
...       ...  ...  ..   ...   ...      ...     ...
9518        5   17  05    07  2009   311742  225354
9519        5   18  05    07  2009   310487  224939
9520        5   18  05    07  2009   347761  224694
9521        5   19  05    07  2009   311722  224991
9522        5   19  05    07  2009   312688  224677
9523        5   20  05    07  2009   312017  224247
9524        5   20  05    07  2009   324256  224916
9525        5   21  05    07  2009   509430  381612
9526        5   21  05    07  2009   313539  225267
9527        5   22  05    07  2009   355653  267976
9528        5   22  05    07  2009   321580  224731
9529        5   23  05    07  2009   376270  273453
9530        5   23  05    07  2009   347583  225266
9531        5   00  06    07  2009   373389  266557
9532        5   00  06    07  2009   319544  225464
9533        5   01  06    07  2009   324056  225788
9534        5   01  06    07  2009   322330  225734
9535        5   02  06    07  2009   318090  225296
9536        5   02  06    07  2009   314087  226050
9537        5   03  06    07  2009   316338  225056
9538        5   03  06    07  2009  1852177  224710
9539        5   04  06    07  2009  1856508  305181
9540        5   04  06    07  2009  3068057  225207
9541        5   05  06    07  2009  1821488  225041
9542        5   05  06    07  2009  1167172  257860
9543        5   06  06    07  2009   313599  224624
9544        5   06  06    07  2009   312284  225711
9545        5   07  06    07  2009   337761  207745
9546        5   07  06    07  2009   307039  224964
9547        5   08  06    07  2009   313420  225383

[9548 rows x 7 columns]

In [56]:
frames = [df1, df2, df3, df4, df5]
result = pd.concat(frames,ignore_index=True)

In [57]:
result[['COUNTRY', 'HOUR', 'MIN', 'DAY', 'MONTH','YEAR', 'MOR', 'LAST']].to_csv('podzial2.csv')